.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__menu {
    display: flex;
    justify-content: center;
  }

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
		margin: auto;

		@media(--at-large) {
			width: 60%;
		}
	}
}
