.section {
  display: flex;
  flex-direction: column;
	padding: 1em;
	margin-bottom: 1em;
	color: var(--primary-color-2);
	background-color: var(--background-secondary-color);
	border-radius: 1em;
	border: 3px solid var(--primary-color-4);

	&--contacts {
		flex-direction: row;
		flex-wrap: wrap;
		border-color: var(--primary-color-4);
		color: var(--primary-color-4);

		@media(--at-medium) {
			flex-wrap: nowrap;
		}
		
		& a {
			color: var(--primary-color-3);
		}
	}

	&__list {
		display: flex;
		width: 100%;
		list-style: none;
	
		&--contacts {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			@media(--at-medium) {
				justify-content: space-around;
			}
		}

		&__item {
			&__icon {
				color: var(--primary-color-3);
				margin-right: 0.3em;
				font-size: 1.5em;
			}
		}
	}
	
	&__header {
		color: var(--primary-color-3);
		font-weight: bold;

		&--contacts {
			color: var(--primary-color-3);
			margin-bottom: 0;
			
			@media(--at-medium) {
				margin-bottom: 0;
			}
		}
	}

	&__paragraph {
		text-indent: 0.5em;
		margin-bottom: 1em;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}
